.side-container{
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #739ab9;
    height: 100vh;
    width: 100px;
    top:0;
    left:0;
    /* padding:10px; */
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0,1);
}
.side-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.side-container li{
    margin: 10px 0;
    padding: 10px;
    color: #fbf0d8;
    cursor: pointer;
}
.side-container a{
    text-decoration: none;
    color: inherit;
}


#a {color: #113047;}
#b {color: #739ab9;}
#c {color: #fbf0d8;}
#d {color: #b02a29;}
#e {color: #6d120b;}

@media (max-width:768px) {
    .side-container {
        width: 100%;
        height: auto; 
        position: relative; 
        top: 0;
        left: 0; 
        box-shadow: none; 
        flex-direction: row; 
        overflow-x: auto;
        justify-content: space-around;
        align-items: center;
        overflow-x: auto;
        padding: 10px 0;
    }
    .side-container li{
        margin: 0 10px;
        padding: 10px;
        flex: 1;
        text-align: center;
    }
    .side-container ul{
        display: flex;
        padding: 0;
        margin: 0;
        width: 100%;
        overflow-x: auto;
    }
}