.main-content{
    margin-left: 100px;
    padding: 20px;
}

#a {color: #113047;}
#b {color: #739ab9;}
#c {color: #fbf0d8;}
#d {color: #b02a29;}
#e {color: #6d120b;}

@media (max-width:768px) {
    .main-content{
        margin-left: 0;
        padding: 20px;
    }
}