.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a90e2;
    padding: 10px 20px;
    height: 60px;
    margin-left: 80px; /* Aligns the navbar next to the side container */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 900; /* Ensures the navbar is above the side container */
}

.navbar-title {
    /* color: #ffffff; */
    font-size: 24px;
    font-weight: bold;
}

.navbar-user {
    /* color: #ffffff; */
    font-size: 18px;
}

@media (max-width: 768px) {
    .navbar {
        margin-left: 0; /* Remove the left margin on smaller screens */
        padding: 10px;
        flex-direction: column;
        height: auto;
    }
    .navbar-title, .navbar-user {
        margin: 5px 0;
    }
}
